*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.heroContainer{
    background-image: url(./assets/Hero/Background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}
.margin{
    margin-left: 9vw;
    margin-left: 9vw;
}
.heroImage{
    height: 276px;
    width: 686px;
    margin-top: 283px;
    display: block;

}
.Button{
    font-size: 16px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    background-color: #FFC73C;
    box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
    padding: 15px 25px;
    margin-top: 72px ;
    border-color: transparent;
    border-radius: 100px;
}
.Button:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
    cursor: pointer;
    background-color: #fc9c3c;
    box-shadow: 0px 18px 40px 12px rgba(252, 239, 224, 0.35);
    border-color: transparent;
    color: w;
}
a {
    color: inherit;
    text-decoration: none;
}
nav{
    position: fixed;
    top: 0;
    padding-top: 73px;
    background-color: transparent;
    z-index: 1;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 9vw;
    padding: 20px 0;
    width : 82vw;
    background-color: white;
    padding: 25px 35px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 100px;
    backdrop-filter: blur(25px);
    color: #212427;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navLogo{
    width: 200px;
}
.navLinks{
    display: flex;
    align-items: center;
    gap: 51px;
}
.navButton{
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    background: var(--primary-gradient, linear-gradient(258deg, #59FFB9 0%, #326CFF 100%));
}
.navButton:hover{
    cursor: pointer;
    animation: gradient 15s ease infinite;
}
.aboutContainer{
    margin-top : 137px;
    margin-bottom: 137px;
    margin-right: calc(9vw - 20px);
}
.aboutLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

}
.cardsContainer{
    width: calc(82vw);
    display: grid;
    grid-template-columns: calc(41vw - 15px) calc(41vw - 15px);
    
    justify-content: space-between;
}
.aboutCard{
    background: linear-gradient(237deg, #59FFB9 -30.09%, #326CFF 71.21%);
    padding: 32px;
    border-radius: 20px;
    border-radius: 32px;
    color: white;
}
.aboutRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutTitle{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}
.aboutSubtitle{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.aboutRight>.aboutCard>.aboutTitle{
    font-size: 36px;
}
.SPText>.aboutTitle{
    font-size: 36px;
}
.maps{
    width: calc((41vw) - 64px);
    border-radius: 20px;
    
}
#SP{
    display: flex;
    gap: 30px;
}
.aboutImage{
    width: 178px;
    height: 178px;
    border-radius: 20px;
}
.aboutContainer>.Button{
    display: block;
    margin: 0 auto;
}
.buttonWrapper{
    width: 82vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.sponsorsWrapper{
    background: linear-gradient(249deg, #59FFB9 -31.85%, #326CFF 101.31%);
    padding: 60px 0;
}
.sponsorCard{
    width: 291px;
    height: 144px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 291px;
    min-height: 144px;
}
.sponsorLogo{
    width: 216px;
}
.sponsorCardWrapper{
    display: flex;
    overflow: hidden;
    gap: 30px;
    margin-top: 30px;
}
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
.slider{
    display: flex;
    animation: 35s slide infinite linear;
    gap : 30px;
}
.Title{
    width: 82vw;
    color: white;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}
#galeri{
    color: black;
}
.carouselWrapper{
    margin-top: 193px;
    margin-bottom: 193px;
}
.carousel{
    width: 82vw;
    z-index: 0;
    margin-top: 30px;
    
}
.carousel-indicators li {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.carousel-item>img{
    aspect-ratio: 16/9;
}
li>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 16/9;
    filter: grayscale(100%);

}
.carousel-indicators {
    margin-top: 23px;
    width: 82vw;
    display: flex;
    position: static;
    margin-left: 0;
    justify-content: space-between;
}
.carousel-indicators:hover{
    cursor: pointer;

}
.carousel-inner{
    border-radius: 32px;
}
.active > img{
    filter: none !important;
}
.ctrl{
    margin: auto 52px;
    height: 60px;
    width: 60px;
}